In [4]:
#Operations

In [6]:
#floor Division //

5//2

2

In [8]:
#exponent
5**2

25

In [9]:
3/4

0.75

In [10]:
s = 'Hello World'

s[1:]

'ello World'

In [11]:
s[:5]

'Hello'

In [13]:
s[::1]

'Hello World'

In [14]:
s[::2]

'HloWrd'

In [15]:
s[::-1]

'dlroW olleH'

In [16]:
s[0]='x'

TypeError: 'str' object does not support item assignment

In [1]:
my_list = [1,2,'3']

In [2]:
print(my_list)

[1, 2, '3']

In [3]:
print(my_list + 3)

TypeError: can only concatenate list (not "int") to list

In [4]:
print(my_list + [3])

[1, 2, '3', 3]

In [5]:
print(list.pop(1))

TypeError: descriptor 'pop' for 'list' objects doesn't apply to a 'int' object

In [6]:
print(my_list.pop(1))

2

In [7]:
my_list = my_list.pop(1)

In [8]:
my_list

'3'

In [9]:
my_list = [1,2,'3']

In [11]:
my_list

[1, 2, '3']

In [12]:
my_list = my_list + [3]

In [13]:
my_list

[1, 2, '3', 3]

In [14]:
my_list.pop(1)

2

In [15]:
my_list

[1, '3', 3]

In [16]:
d = {}

In [17]:
d['number'] = 0

In [18]:
d['letter'] = 'A'

In [19]:
d

{'number': 0, 'letter': 'A'}

In [20]:
d['numbers'] += 5

KeyError: 'numbers'

In [21]:
d.keys()

dict_keys(['number', 'letter'])

In [22]:
d.values

In [23]:
d.values()

dict_values([0, 'A'])

In [24]:
d.items()

dict_items([('number', 0), ('letter', 'A')])

In [25]:
my_list = [1,1,1,2,3,4]

In [26]:
my_list.count(1)

3

In [27]:
%%writefile writefile.txt
Testing the ability of jupyter notebook to write files

Writing writefile.txt

In [28]:
pwd

'D:\\coding\\python\\plm_proglang'

In [29]:
ls

 Volume in drive D is Backup
 Volume Serial Number is B41B-FB77

 Directory of D:\coding\python\plm_proglang

05/09/2023  01:04 pm    <DIR>          .
05/09/2023  01:04 pm    <DIR>          ..
04/09/2023  08:06 pm    <DIR>          .ipynb_checkpoints
05/09/2023  01:04 pm               869 classsample.py
04/09/2023  02:44 pm    <DIR>          Module 1
05/09/2023  01:03 pm            13,073 Notebook.ipynb
04/09/2023  06:46 pm               869 tempCodeRunnerFile.py
05/09/2023  01:02 pm                56 writefile.txt
               4 File(s)         14,867 bytes
               4 Dir(s)  332,463,857,664 bytes free

In [35]:
with open('writefile.txt') as file:
    print(file.read())

Testing the ability of jupyter notebook to write files

In [33]:
myfile = open('writefile.txt')

In [34]:
myfile.read()

'Testing the ability of jupyter notebook to write files\n'

In [36]:
myfile.seek(0)

0

In [37]:
myfile.seek(1)

1

In [1]:
list_tuple = [(2,3), (4,5),(6,7)]

for (a,b) in list_tuple:
    print(a)

2
4
6

In [2]:
for tups in list_tuple:
    print(tups)

(2, 3)
(4, 5)
(6, 7)

In [3]:
loop_dict = {
    'k1': 1,
    'k2': 2,
    'k3': 3
}

In [4]:
for key in loop_dict:
    print(key)

k1
k2
k3

In [6]:
print (loop_dict.items())

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [7]:
for (k,v) in loop_dict.items():
    print(v)

1
2
3

In [8]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [9]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
list(enumerate('abcd'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [3]:
zip_list1 = [1,2,3,4,5,6]
zip_list2 = ['a', 'b','c','d','e']

list(zip(zip_list1, zip_list2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [11]:
mylist = ['cat','dog']
print(*mylist)

cat dog

In [14]:
mystr = 'helloworld'
mystr[0::2]

'hlool'

In [15]:
with open('writefile.txt') as writefile:
    writefile.read()

In [3]:
a = input('enter first number: ')
b = input('enter second number: ')

if(a > b):
    print(f'{a} is greater')
elif(a < b):
    print(f'{a} is less')
else:
    print(f'{a} and {b} are equal')

enter first number: 6
enter second number: 6
6 and 6 are equal

In [10]:
year = int(input('enter year: '))
if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
    print('Leap')
else:
    print('not')

enter year: 1323
not

In [12]:
number = int(input('enter number'))
print('even') if number % 2 == 0 else print('odd')

enter number52
even

In [19]:
print(5)

5

In [29]:
samplelist = [24,2,52,3,1,3,51,21,11]
for number in samplelist:
    if number > 10: print(number)

24
52
51
21
11

In [37]:
for number in samplelist:
    if number > 10:
        print(number)
    else:
        break
    print('hello')

24
hello

In [39]:
index = 0
for letter in 'abcde':
    print(enumerate(a, index))

<enumerate object at 0x000001E96A4CBD00>
<enumerate object at 0x000001E96A4CBD00>
<enumerate object at 0x000001E96A4CBD00>
<enumerate object at 0x000001E96A4CBD00>
<enumerate object at 0x000001E96A4CBD00>

In [42]:
print(list(enumerate('abcde')))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [75]:
class Rectangle:
    def __init__(self, lenth, width)
    
    def findPerimeter(self): return (self.length*2) + (self.width*2)
    size = 2

    def findArea(self):
        return self.length*self.width

In [76]:
myRect = Rectangle()

In [77]:
myRect.findArea()

TypeError: Rectangle.findArea() takes 0 positional arguments but 1 was given

In [68]:
myRect.size

2

In [79]:
class Student:
    def __init__(self, grade):
        self.grade = grade
    
    def calcGrade(self):
        if 91 <= self.grade <= 100: return 'A1'
        elif 81 <= self.grade <= 90: return 'A2'
        elif 71 <= self.grade <= 80: return 'B1'
        elif 61 <= self.grade <= 70: return 'B2'
        elif 51 <= self.grade <= 60: return 'C1'
        elif 41 <= self.grade <= 50: return 'C2'
        elif 31 <= self.grade <= 40: return 'D'
        elif 21 <= self.grade <= 30: return 'E1'
        elif 11 <= self.grade <= 20: return 'E2'

In [81]:
karl = Student(52)
karl.calcGrade()

'C1'

In [1]:
#OOP Python

In [8]:
class Student:
    school_name = 'PLM'
    def __init__(self, name, year):
        self.name = name
        self.year = year
    def sayName(self):
        print(f'Hi, my name is {self.name}')

In [9]:
karl = Student('karl', 4)

In [10]:
karl.sayName()

Hi, my name is karl

In [11]:
print(karl.school_name)

PLM

In [12]:
def getDocString():
    """This print Hello"""
    print('hello')

In [13]:
print(getDocString.__doc__)

This print Hello

In [14]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [25]:
class Faculty:
    schoolName = 'PLM'
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def sayName(self):
        print(self.name)

In [26]:
syd = Faculty('syd', 20)

In [27]:
syd.sayName()

syd

In [30]:
class Sample():
    pass

x = Sample()

In [31]:
print(type(x))

<class '__main__.Sample'>

In [54]:
class Car:
        
    def displayInfo(self):
        print('I am a car!')

In [55]:
car = Car()

car.displayInfo()

In [56]:
car.displayInfo()

I am a car!

In [57]:
class Motor(Car):
    def __init__(self):
        super().__init__()

In [58]:
motor = Motor()

In [59]:
motor.displayInfo()

I am a car!

In [1]:
from collections import Counter

In [2]:
lst = [1,1,2,3,5,5,5,5,6,7,3,4,6,2,2,3,5,1]

In [3]:
Counter(lst)

Counter({5: 5, 1: 3, 2: 3, 3: 3, 6: 2, 7: 1, 4: 1})

In [4]:
c = Counter(lst)

In [5]:
c.most_common(2)

[(5, 5), (1, 3)]

In [6]:
c.values()

dict_values([3, 3, 3, 5, 2, 1, 1])

In [7]:
sum(c.values())

18

In [8]:
list(c)

[1, 2, 3, 5, 6, 7, 4]

In [9]:
c

Counter({5: 5, 1: 3, 2: 3, 3: 3, 6: 2, 7: 1, 4: 1})

In [10]:
set(c)

{1, 2, 3, 4, 5, 6, 7}

In [1]:
myString = "To understand the need for creating a class let us consider an example: Let uss say that you wanted to track the number of dogs which may have different attributes like breed, and age. If a list is used, the first element could be the dog’s breed while the second element could represent its age. Let’s suppose there are 100 different dogs, then how would you know which element is supposed to be which? What if you wanted to add other properties to these dogs? This lacks organization and it’s the exact need for classes."


Counter(myString.split())

Counter({'the': 6,
         'to': 4,
         'you': 3,
         'element': 3,
         'need': 2,
         'for': 2,
         'a': 2,
         'wanted': 2,
         'which': 2,
         'different': 2,
         'and': 2,
         'age.': 2,
         'is': 2,
         'could': 2,
         'be': 2,
         'To': 1,
         'understand': 1,
         'creating': 1,
         'class': 1,
         'let': 1,
         'us': 1,
         'consider': 1,
         'an': 1,
         'example:': 1,
         'Let': 1,
         'uss': 1,
         'say': 1,
         'that': 1,
         'track': 1,
         'number': 1,
         'of': 1,
         'dogs': 1,
         'may': 1,
         'have': 1,
         'attributes': 1,
         'like': 1,
         'breed,': 1,
         'If': 1,
         'list': 1,
         'used,': 1,
         'first': 1,
         'dog’s': 1,
         'breed': 1,
         'while': 1,
         'second': 1,
         'represent': 1,
         'its': 1,
         'Let’s': 1,
         'suppose': 1,
         'there': 1,
         'are': 1,
         '100': 1,
         'dogs,': 1,
         'then': 1,
         'how': 1,
         'would': 1,
         'know': 1,
         'supposed': 1,
         'which?': 1,
         'What': 1,
         'if': 1,
         'add': 1,
         'other': 1,
         'properties': 1,
         'these': 1,
         'dogs?': 1,
         'This': 1,
         'lacks': 1,
         'organization': 1,
         'it’s': 1,
         'exact': 1,
         'classes.': 1})