In [5]:
# 1. Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

(((7**3 - 143) * 2) + 1) /4

100.25

In [7]:
# 2.
# Answer these 3 questions without typing code (too test your mental capability). Then type code to check your answer.
# What is the value of the expression 4 * (6 + 5) === 44 (mental)
# What is the value of the expression 4 * 6 + 5 ===== 29 (mental)
# What is the value of the expression 4 + 6 * 5 ===== 34 (mental)

print(4 * (6 + 5))
print(4 * 6 + 5)
print(4 + 6 * 5)

44
29
34

In [8]:
# 3. What is the type of the result of the expression 3 + 1.5 + 4? 

# Number (spcifically float)

type(3+1.5+4)

float

In [11]:
# 4. What would you use to find a number’s square root, as well as its square?

# ** exponent

In [12]:
# 5. What would you use to find a number’s square root, as well as its square? 
print(9**(1/2)) # square root of 9
print(3**2) # 3 sqaured

3.0
9

In [13]:
# 6. Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

In [14]:
# 7. Reverse the string 'hello' using slicing:

s[::-1]

'olleh'

In [15]:
# 8. Given the string hello, give two methods of producing the letter 'o' using indexing.

print(s[-1])
print(s[4])

o
o

In [17]:
# 9. Build this list [0,0,0] two separate ways.
# Method 1
    
my_list1 = [0,0,0]
my_list1

[0, 0, 0]

In [18]:
# 9. Build this list [0,0,0] two separate ways.
#Method2

my_list2 = [0] * 3
my_list2

[0, 0, 0]

In [19]:
# 10. Reassign 'hello' in this nested list to say 'goodbye' instead:

list3 = [1,2,[3,4,'hello']]
print(list3)

#reassign
list3[2][2] = 'goodbye'
print(list3)

[1, 2, [3, 4, 'hello']]
[1, 2, [3, 4, 'goodbye']]

In [25]:
# 11. Sort the list below: 

list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

In [26]:
# 12. Using keys and indexing, grab the 'hello' from the following dictionaries:

d = {'simple_key' : 'hello'}
#Grab 'hello'

d['simple_key']

'hello'

In [28]:
#getting a little tricker
d = {'k1': {'k2': 'hello'}}

#Grab hello
d['k1']['k2']

'hello'

In [29]:
d = {'k1' : [{'nest_key' : ['this is deep', ['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [30]:
# This will be hard and annoying
d = {'k1' : [1,2,{'k2' : ['this is tricky', {'tough' : [1,2,['hello']]}]}]}

#Grab hello
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [31]:
#13 can you sort a dictionary? Why or why not?

# No, you can not sort a dictionary, because dictionaries are unordered in the first place

In [32]:
#14 What is the major difference between tuples and lists?

# Tuples are immutable, meaning the values inside tuples are permanent and cannot be manipulated or changed
# While lists are mutable, meaning the users can change the values of a specific index

In [33]:
# 15. How do=o you create a tuple

# using parenthesis () and using it like a list, that is putting values separated by a comma (,)

In [34]:
# 16. what is unique about a set?

# a set is an unordered list of unique elemets. What's unique about it, is it cleans up duplicates and automatically removes them if they are added.

In [35]:
# 17. Use a set to find the unique values of the list below
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set1 = set(list5)
set1

{1, 2, 3, 4, 11, 22, 33}

In [36]:
# 18. What will be the resulting Boolean of the following pieces of code (answer first then check by typing it in)

2 > 3 # False

False

In [37]:
3 <= 2 # False

False

In [38]:
3 == 2.0 # False

False

In [39]:
3.0 == 3 # True

True

In [40]:
4**0.5 != 2 # False

False

In [41]:
#19 Final Question: what is the boolean output of the cell block below?

#two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1': 4}]

#True or False?
l_one[2][0] >= l_two[2]['k1'] # False

False